:markdown
  In 2012, the online verbatim series [MONO_POP](http://monopop.org.uk) created a sponsor page where people could donate anything from £1. As a thankyou, they sent supporters badges, personalised portraits and more. As a fan, I donated £1000 and as a thankyou they are creating a mini-series dedicated to the release of my new album, *&ldquo;Handel: Finest Arias For Base Voice&rdquo;*.

%h4 
  Christopher Purves &mdash;
  %em Vieni, O Cara
= youtube "HmEO9NeaNi4"