---
title: Contact
---
%h2 Contact

%div.main-content-no-left

  %h4 Julia Maynard 
  %h4 Director/Head of Vocal &amp; Opera, <a href="www.intermusica.co.uk">Intermusica</a>

  %p
    %a{:href => "mailto:jmaynard@intermusica.co.uk"} Email: &laquo;jmaynard@intermusica.co.uk&raquo;
    %br
    %a{:href => "tel:+442076089902"}Tel: +44 20 7608 9902

  %div.vcard
    %p.address
      %div.fn Crystal Wharf
      %div.street-address 36 Graham Street
      %div.region London
      %div.postal-code N1 8GJ


%div.right-sidebar
  %div.sidebar-1
    = image_tag("content/perfectam-7.jpg", :alt => "Photo of Christopher Purves in The Perfect American")
  %div.sidebar-2
    %blockquote Of the three soloists, it was Christopher Purves as the bass Simon who really made the English words come alive, singing with a generosity of spirit that reflects what The Seasons is all about.
    %cite - Financial Times, Richard Fairman (2012)